/#stylesEjercicioClase.css
/bootstrap.html
/ejercicio3.html
/ejercicioClase.html
/flexbox.html
/PH_RESTO
/recipe.html
/RESOURCES
/restaurant.html
/styles2.css
/stylesBootstrap.css
/stylesFlexbox.css
/stylesNew.css
/stylesRecipe.css
/stylesRestaurant.css
/stylesTheAI.css